.wrapper {
  margin: 30px auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 90%;
    margin-bottom: 60px;
    margin-top: 60px;
    max-width: 1440px;
  }
}
.typing {
font-weight: bold;
  animation-name: parpadeo;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

body {
  margin: 0;
}
body h1 {
  font-family: "Charm", cursive;
}
body h2,
body h3,
body h4 {
  font-family: "Merriweather", serif;
}

.header__cont {
  display: flex;
  height: 150px;
  justify-content: space-evenly;
  width: 100%;
}

.header__cont {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  padding: 10px 0;
  width: 100%;
}

.header__logo {
  height: 60px;
  padding: 5px;
  width: 50px;
}

.header__icon {
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 40px;
}

.main-nav {
  width: 75%;
  margin-right: 5%;
}

.main-nav__cont {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.main-nav__item {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.main-nav__link:hover {
    text-decoration: underline;
    text-decoration-color: pink;
  }
.main-nav__link  {
  text-decoration: none;
}
/* inicio prueba */
.intro-header { 
  padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  background: url('https://68.media.tumblr.com/d3fd545cd977a174beef12c1106880bf/tumblr_nt505iKkul1ud7rr3o1_1280.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 855px;
}
.bg-overlay {
background:rgba(0,0,0, 0.3);
height: 855px;
}

.about__tittle {
  color: transparent;
  font-size: 3rem;
  font-weight: unset;
  -webkit-text-stroke: 2px black;
}

.about__sub-tittle {
  color: transparent;
  font-size: 2rem;
  font-weight: unset;
  -webkit-text-stroke: 2px black;
}

.about__description {
  display: inline-block;
  font-size: 1.3rem;
  max-width: 70%;
}



.info__container {
  /*ul*/
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.info__item {
  /*li*/
  list-style: none;
  margin: 0;
  padding: 0;
  width: 45%;
}

.info__link:hover {
  text-decoration: underline;
  text-decoration-color: pink;
}
.contact__tittle {
  /* h*/
}
.info__link {
  color: black;
  text-decoration: none;
}

.info__img {
  width: 65px;
  border: 1px solid lightskyblue;
}

.about__link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.about__link:hover {
  text-decoration: underline;
  text-decoration-color: lightskyblue;
 }