.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
body {
    margin-top: 0;
    margin-left: 0;
}
#header {
    background-color: #FFF4E9;
    height: 100px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}
li > a {
    text-decoration: none;
    font-size: 1.2em;
}
ul > li {
    padding: 20px 15px;
    display: inline-block;
}
#menu-header {
    margin-right: 13%;
    margin-top: 2.45%;
}
ul.menu {
    float: right;
}
#logo {
    max-width: 60px;
    margin-left: 11%;
    margin-top: 10px;
}

.box {
    margin-top: 100px;
}
.swing {
    max-width: 25%;
    margin-left: 20%;
    top: 100px;
    position: relative;
}
#tittle {
    display: inline-block;
}
.box-about {   
    max-width: 270px;
    height: 270px;
    padding: 20px;
    margin-left: 2%;
    display: inline-block;
    background-color: #FFF4E9;
}
#about>h2 {
    margin-top: 15%;
}
.graph {
    max-width: 93%;
}
.cooker {
    position: absolute;
    max-width: 200px;
}
h3>span {
    color: 	#cdaa7d;
}
/***contact/footer***/
.icon {
    max-width: 60px;
}