.about {
  position: relative;
}

.about__container { 
  background: url('./../img/img-content/develop-x.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  height: 30vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media (min-width: $breakpoint-md) {
    background-image: url('./../img/img-content/develop-x.jpg');
    height: 40vw;
  }
}

.about__tittle {
  font-weight: 800;
  font-size: 2rem;
  margin: 10px 0;
  position: relative;
  text-align: left;

  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, yellow);
    mix-blend-mode: screen; //<-- atento a esta linea//
    position: absolute;
    top: 0;
    left: 0;
  }
  @media (min-width: $breakpoint-md) {
    font-size: 2.5rem;
    margin: 15px 0;
  }
}

.about__sub-tittle {
  color: rgb(16, 46, 2);
  font-size: 1.2rem;
  font-weight: unset;
  margin: 5px 0;
  -webkit-text-stroke: 2px rgb(18, 53, 2);

  @media (min-width: $breakpoint-md) {
    font-size: 1.75rem;
    margin: 10px 0;
  }
} 

.about__description {
  display: inline-block;
  max-width: 80%;

  @media (min-width: $breakpoint-md) {
    max-width: 60%;
  }
}

.about__link {
  color: black;
  font-weight: bold;
  text-decoration: none;

 &:hover {
  text-decoration: underline;
  text-decoration-color: lightskyblue;
 } 
}

.skills__cont {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.skills__img {
  display: block;
  margin: 0 auto;
  max-width: 75px;
  width: 30%;

  @media (min-width: $breakpoint-md) {
    max-width: 65px;
    width: 25%;
  }
}

.skills__img--css {
  filter: grayscale(20%);

  &:hover {
    filter: grayscale(0%);
  }
}

.skills__img--js {
  filter: grayscale(50%);
  
  &:hover {
    filter: grayscale(0%);
  }
}

.skills__img--html {
  filter: grayscale(20%);
  
  &:hover {
    filter: grayscale(0%);
  }
}
.skills__img--react {
  filter: grayscale(75%);
  
  &:hover {
    filter: grayscale(0%);
  }
}

.skills__img--sass {
  filter: grayscale(30%);
  
  &:hover {
    filter: grayscale(0%);
  }
}

.skills__img--soft {
  display: block;
  margin: 0 auto;
  max-width: 60px;

  @media (min-width: $breakpoint-md) {
    max-width: 70px;
  }
}

.skills__item {
  list-style: none;
  padding: 0;
  width: 30%;
  margin-bottom: 15px;

  @media (min-width: $breakpoint-md) {
    margin-bottom: 25px;
  }
}

.skill__title {
  width: 100%;
}
.skills__item-title {
  text-align: center;
}

.soft-skills {
  margin-top: 25px;
  padding: 20px;
  background: url('./../img/img-content/skills/cotton.jpg') no-repeat center;
  background-size: cover;

  @media (min-width: $breakpoint-md) {
    margin-top: 35px;
  }
  @media (min-width: $breakpoint-lg) {
    margin-top: 45px;
  }
}