.about {
  position: relative;
}
.about__container { 
  background: url('./../img/img-content/develop-x.jpg') no-repeat center;
  background-size: cover;
  height: 30vw;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    background-image: url('./../img/img-content/develop-2x.jpg');
    height: 40vw;
  }
}

.about__tittle {
  color: transparent;
  font-weight: unset;
  font-size: 2rem;
  -webkit-text-stroke: 2px black;

  @media (min-width: $breakpoint-md) {
    color: white;
    font-size: 3rem;
  }
}

.about__sub-tittle {
  color: transparent;
  font-size: 1.2rem;
  font-weight: unset;
  -webkit-text-stroke: 2px black;

  @media (min-width: $breakpoint-md) {
    color: white;
    font-size: 2rem;
  }
}

.about__description {
  display: inline-block;
  max-width: 80%;

  @media (min-width: $breakpoint-md) {
    max-width: 60%;
  }
}

.about__link {
  color: black;
  font-weight: bold;
  text-decoration: none;

 &:hover {
  text-decoration: underline;
  text-decoration-color: lightskyblue;
 } 
}

.skills__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__img {
  display: block;
  margin: 0 auto;
  max-width: 75px;
  width: 75px;

  @media (min-width: $breakpoint-md) {
    max-width: 150px;
  }
}

.skills__img--css {
  filter: grayscale(20%);

  &:hover {
    filter: grayscale(0%);
  }
}

.skills__img--js {
  filter: grayscale(50%);
  
  &:hover {
    filter: grayscale(0%);
  }
}

.skills__img--html {
  filter: grayscale(20%);
  
  &:hover {
    filter: grayscale(0%);
  }
}
.skills__img--react {
  filter: grayscale(75%);
  
  &:hover {
    filter: grayscale(0%);
  }
}

.skills__img--sass {
  filter: grayscale(30%);
  
  &:hover {
    filter: grayscale(0%);
  }
}

.skills__img--soft {
  display: block;
  margin: 0 auto;
  max-width: 100px;

  @media (min-width: $breakpoint-md) {
    max-width: 250px;
  }
}

.skills__item {
  list-style: none;
  padding: 0;
  width: 30%;
  margin-top: 15px;

  @media (min-width: $breakpoint-md) {
    margin-top: 25px;
  }
}

.skills__item-title {
  text-align: center;
}