body {
  margin: 0; }
  body h1,
  body h2,
  body h3,
  body h4 {
    font-family: 'Charm', cursive; }

h1 {
  font-size: 2.5em; }

h1,
h2 {
  display: inline-block;
  margin-left: 15%;
  width: 50%; }

section {
  padding: 7.5% 0 7.5% 7.5%; }

#circle-css {
  height: 60px;
  width: 60px; }

#circle-css > p {
  margin: 9px 0; }

#circle-html {
  width: 100px;
  height: 100px; }

#circle-js {
  height: 147px;
  width: 147px; }

#circle-js > p {
  margin: 48px 0; }

#circle-ps {
  height: 147px;
  width: 147px; }

#circle-ps > p {
  margin: 55px 0; }

#circle-sass {
  height: 60px;
  width: 60px; }

#circle-sass > p {
  margin: 12px 0; }

#circle-sketch {
  height: 92px;
  width: 92px; }

#circle-sketch > p {
  margin: 30px 0; }

#home {
  height: 55vw; }

#menu {
  -webkit-box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.75);
  background-color: #Fcf5f5;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.75);
  height: 100%;
  position: fixed;
  width: 7.5%;
  z-index: 1; }

.circle {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,299a0b+50,b4e391+100 */
  background: #b4e391;
  /* Old browsers */
  background: linear-gradient(to bottom, #b4e391 0%, #299a0b 50%, #b4e391 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -moz-linear-gradient(top, #b4e391 0%, #299a0b 50%, #b4e391 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b4e391 0%, #299a0b 50%, #b4e391 100%);
  /* Chrome10-25,Safari5.1-6 */
  border-radius: 50%;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );
  /* IE6-9 */
  padding: 2%; }

.circle > p {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  text-align: center; }

.container-activity {
  border-radius: 20px;
  display: inline-block;
  background: linear-gradient(to bottom, #FFD08D 0%, #FFBE59 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -moz-linear-gradient(top, #FFD08D 0%, #FFBE59 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FFD08D 0%, #FFBE59 100%);
  /* Chrome10-25,Safari5.1-6 */
  margin: 10px;
  padding: 10px  20px;
  transition: 0.8s;
  width: 200px; }
  .container-activity:hover {
    -webkit-box-shadow: 2px 2px 16px 0px #B27000;
    -moz-box-shadow: 2px 2px 16px 0px #B27000;
    box-shadow: 2px 2px 16px 0px #B27000; }

.container-tittle {
  background-color: #Fcf5f5; }

.container-tittle > h1 {
  color: #000000;
  margin: 1% 7.5%; }

.icon {
  margin: 0 25%;
  max-width: 50%;
  padding: 14% 0; }

.social-media {
  max-width: 5%; }

.swing {
  animation: swinging 15s ease-in-out 0s infinite;
  left: 55%;
  max-width: 25%;
  position: absolute;
  transform-origin: 50% 0;
  top: 20%; }

@keyframes swinging {
  0% {
    transform: rotate(0); }
  5% {
    transform: rotate(10deg); }
  10% {
    transform: rotate(-9deg); }
  15% {
    transform: rotate(8deg); }
  20% {
    transform: rotate(-7deg); }
  25% {
    transform: rotate(6deg); }
  30% {
    transform: rotate(-5deg); }
  35% {
    transform: rotate(4deg); }
  40% {
    transform: rotate(-3deg); }
  45% {
    transform: rotate(2deg); }
  50% {
    transform: rotate(0); }
  /* Come to rest at 50%. The rest is just stillness */
  100% {
    transform: rotate(0); } }

/*# sourceMappingURL=style.css.map */
