/****************
      Helpers
*****************/
.clearfix::after {
  display: block;
  content: "";
  clear: both; }

@font-face {
  font-family: 'Cabin';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local("Myriad Web Pro"), local("../typography/Myriad Web Pro.ttf"), local("Myriad Web Pro"), url("../typography/Myriad Web Pro.ttf") format("ttf"); }
a, h1, h2, h3, h4 {
  font-family: 'Charm', cursive;
  color: #B25E00; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto; }

body {
  margin-top: 0;
  margin-left: 0; }

#header {
  background-color: #FFF4E9;
  height: 100px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1; }

li > a {
  text-decoration: none;
  font-size: 1.2em; }

ul > li {
  padding: 20px 15px;
  display: inline-block; }

#menu-header {
  margin-right: 13%;
  margin-top: 2.45%; }

ul.menu {
  float: right; }

#logo {
  max-width: 60px;
  margin-left: 11%;
  margin-top: 10px; }

.box {
  margin-top: 100px; }

.swing {
  max-width: 25%;
  margin-left: 20%;
  top: 100px;
  position: relative; }

#tittle {
  display: inline-block; }

.box-about {
  max-width: 270px;
  height: 270px;
  padding: 20px;
  margin-left: 2%;
  display: inline-block;
  background-color: #FFF4E9; }

#about > h2 {
  margin-top: 15%; }

.graph {
  max-width: 93%; }

.cooker {
  position: absolute;
  max-width: 200px; }

h3 > span {
  color: #cdaa7d; }

/***contact/footer***/
.icon {
  max-width: 60px; }

.swing {
  -webkit-animation: swinging 15s ease-in-out 0s infinite;
  -moz-animation: swinging 15s ease-in-out 0s infinite;
  animation: swinging 15s ease-in-out 0s infinite;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0; }

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0); }
  5% {
    -webkit-transform: rotate(10deg); }
  10% {
    -webkit-transform: rotate(-9deg); }
  15% {
    -webkit-transform: rotate(8deg); }
  20% {
    -webkit-transform: rotate(-7deg); }
  25% {
    -webkit-transform: rotate(6deg); }
  30% {
    -webkit-transform: rotate(-5deg); }
  35% {
    -webkit-transform: rotate(4deg); }
  40% {
    -webkit-transform: rotate(-3deg); }
  45% {
    -webkit-transform: rotate(2deg); }
  50% {
    -webkit-transform: rotate(0); }
  /* Come to rest at 50%. The rest is just stillness */
  100% {
    -webkit-transform: rotate(0); } }
@-moz-keyframes swinging {
  0% {
    -moz-transform: rotate(0); }
  5% {
    -moz-transform: rotate(10deg); }
  10% {
    -moz-transform: rotate(-9deg); }
  15% {
    -moz-transform: rotate(8deg); }
  20% {
    -moz-transform: rotate(-7deg); }
  25% {
    -moz-transform: rotate(6deg); }
  30% {
    -moz-transform: rotate(-5deg); }
  35% {
    -moz-transform: rotate(4deg); }
  40% {
    -moz-transform: rotate(-3deg); }
  45% {
    -moz-transform: rotate(2deg); }
  50% {
    -moz-transform: rotate(0); }
  /* Come to rest at 50%. The rest is just stillness */
  100% {
    -moz-transform: rotate(0); } }
@keyframes swinging {
  0% {
    transform: rotate(0); }
  5% {
    transform: rotate(10deg); }
  10% {
    transform: rotate(-9deg); }
  15% {
    transform: rotate(8deg); }
  20% {
    transform: rotate(-7deg); }
  25% {
    transform: rotate(6deg); }
  30% {
    transform: rotate(-5deg); }
  35% {
    transform: rotate(4deg); }
  40% {
    transform: rotate(-3deg); }
  45% {
    transform: rotate(2deg); }
  50% {
    transform: rotate(0); }
  /* Come to rest at 50%. The rest is just stillness */
  100% {
    transform: rotate(0); } }

/*# sourceMappingURL=style.css.map */
