.wrapper {
  margin: 30px auto;

  @media (min-width: $breakpoint-md) {
    width: 90%;
    margin-bottom: 60px;
    margin-top: 60px;
    max-width: 1440px;
  }
}
  
body {
  margin: 0;
  
  h1 {
    font-family: 'Charm', cursive;
  }
  h2,
  h3,
  h4 {
    font-family: 'Merriweather', serif;
  }
}

.typing {
  animation-name: parpadeo;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}