$h1-size: 2rem; // 32px
$h2-size: 1.87rem; // 30px
$h3-size: 1.68rem; // 27px
$text-size: 1rem; // 16px

$breakpoint-xs: 320px;
$breakpoint-sm: 500px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;